### Import Modules

In [1]:
import pandas as pd
import bs4 as bs
import requests 
import numpy as np

### Extract HTML from websight

In [2]:
resp = requests.get('https://www.wellsfargo.com/savings-cds/rates/')
soup = bs.BeautifulSoup(resp.text, "lxml")

### Term Length

In [3]:
cd_term_standard = []
for row in soup.findAll('th', {'headers': 'cdratestdterm'}):
    cd_term_standard.append([row.text] * 6)
    
cd_term_standard = cd_term_standard[0] + cd_term_standard[1] + cd_term_standard[2]

cd_term_standard

['3 months',
 '3 months',
 '3 months',
 '3 months',
 '3 months',
 '3 months',
 '6 months',
 '6 months',
 '6 months',
 '6 months',
 '6 months',
 '6 months',
 '1 Year',
 '1 Year',
 '1 Year',
 '1 Year',
 '1 Year',
 '1 Year']

### Obtain Interest Rate

In [4]:
cd_int_standard = []
for row in soup.findAll('td', {'headers': 'cdratestdintrate specterm'}):
    cd_int_standard.append(row.text)
    
cd_int_standard

['0.05%',
 '0.05%',
 '0.05%',
 '0.05%',
 '0.05%',
 '0.05%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.15%']

### Obtain APY

In [5]:
cd_apy_standard = []
for row in soup.findAll('td', {'headers': 'cdratestdapy specterm'}):
    cd_apy_standard.append(row.text)
    
cd_apy_standard

['0.05%',
 '0.05%',
 '0.05%',
 '0.05%',
 '0.05%',
 '0.05%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.10%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.15%']

### Bonus Interest

In [6]:
cd_b_int_standard = []
for row in soup.findAll('td', {'headers': 'cdratestdbintrate specterm'}):
    cd_b_int_standard.append(row.text)
    
cd_b_int_standard

['0.08%',
 '0.08%',
 '0.08%',
 '0.08%',
 '0.08%',
 '0.08%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.18%',
 '0.18%',
 '0.18%',
 '0.18%',
 '0.18%',
 '0.18%']

### Bonus APY

In [7]:
cd_b_apy_standard = []
for row in soup.findAll('td', {'headers': 'cdratestdbbapy specterm'}):
    cd_b_apy_standard.append(row.text)
    
cd_b_apy_standard

['0.08%',
 '0.08%',
 '0.08%',
 '0.08%',
 '0.08%',
 '0.08%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.13%',
 '0.18%',
 '0.18%',
 '0.18%',
 '0.18%',
 '0.18%',
 '0.18%']

### balance tier

In [8]:
cd_tier_standard = []
for row in soup.findAll('td', {'headers': 'cdratestdbbaltier specterm'}):
    row = row.text.strip()
    row = row.replace('\r','')
    row = row.replace('\n','')
    row = row.replace('\t','')
    row = row.replace(' ','')
    cd_tier_standard.append(row)
    
cd_tier_standard

['$0-$4999',
 '$5000-$9999',
 '$10000-$24999',
 '$25000-$49999',
 '$50000-$99999',
 '$100,000+',
 '$0-$4999',
 '$5000-$9999',
 '$10000-$24999',
 '$25000-$49999',
 '$50000-$99999',
 '$100,000+',
 '$0-$4999',
 '$5000-$9999',
 '$10000-$24999',
 '$25000-$49999',
 '$50000-$99999',
 '$100,000+']

### Create Final Dataset

In [9]:
col_ls = {0:'Interest Rate',
          1:'APY',
          2:'Bonus Interest Rate',
          3:'Bonus APY',
          4:'Balance'}


base_ls = [cd_int_standard] + [cd_apy_standard] + [cd_b_int_standard] + [cd_b_apy_standard] + [cd_tier_standard]
dataFrame = pd.DataFrame(base_ls).T.set_index([cd_term_standard]).rename(columns = col_ls)

dataFrame.to_csv('WellsFargo.csv')

dataFrame

         Interest Rate    APY Bonus Interest Rate Bonus APY        Balance
3 months         0.05%  0.05%               0.08%     0.08%       $0-$4999
3 months         0.05%  0.05%               0.08%     0.08%    $5000-$9999
3 months         0.05%  0.05%               0.08%     0.08%  $10000-$24999
3 months         0.05%  0.05%               0.08%     0.08%  $25000-$49999
3 months         0.05%  0.05%               0.08%     0.08%  $50000-$99999
3 months         0.05%  0.05%               0.08%     0.08%      $100,000+
6 months         0.10%  0.10%               0.13%     0.13%       $0-$4999
6 months         0.10%  0.10%               0.13%     0.13%    $5000-$9999
6 months         0.10%  0.10%               0.13%     0.13%  $10000-$24999
6 months         0.10%  0.10%               0.13%     0.13%  $25000-$49999
6 months         0.10%  0.10%               0.13%     0.13%  $50000-$99999
6 months         0.10%  0.10%               0.13%     0.13%      $100,000+
1 Year           0.15%  0.15%               0.18%     0.18%       $0-$4999
1 Year           0.15%  0.15%               0.18%     0.18%    $5000-$9999
1 Year           0.15%  0.15%               0.18%     0.18%  $10000-$24999
1 Year           0.15%  0.15%               0.18%     0.18%  $25000-$49999
1 Year           0.15%  0.15%               0.18%     0.18%  $50000-$99999
1 Year           0.15%  0.15%               0.18%     0.18%      $100,000+